# Data Formatting (categorical)


In this formatting tutorial we will see the categorical case.


Let's get [some data](https://en.wikipedia.org/wiki/List_of_freedom_indices):

In [1]:
import pandas as pd

link='https://en.wikipedia.org/wiki/List_of_freedom_indices'
freeAll=pd.read_html(link,flavor='bs4',match='w',attrs={'class':"wikitable"})

We need the second table:

In [2]:
freeAll[1].head()

,Country,Freedom in the World 2022[12],2022 Index of Economic Freedom[13],2022 Press Freedom Index[3],2021 Democracy Index[15]
0,Afghanistan,not free,NaN,very serious situation,authoritarian regime
1,Albania,partly free,moderately free,noticeable problems,flawed democracy
2,Algeria,not free,repressed,difficult situation,authoritarian regime
3,Andorra,free,NaN,noticeable problems,NaN
4,Angola,not free,mostly unfree,noticeable problems,authoritarian regime

Before checking the data, let's make sure the column names are also in good format that facilitates our work:

In [3]:
freeAll[1].columns

Index(['Country', 'Freedom in the World 2022[12]',
       '2022 Index of Economic Freedom[13]', '2022 Press Freedom Index[3]',
       '2021 Democracy Index[15]'],
      dtype='object')

This is a good alternative:

In [4]:
freeAll[1].columns.str.replace("\d+|\s|\[|\]","",regex=True)

Index(['Country', 'FreedomintheWorld', 'IndexofEconomicFreedom',
       'PressFreedomIndex', 'DemocracyIndex'],
      dtype='object')

In [5]:
#then
newNames=freeAll[1].columns.str.replace("\d+|\s|\[|\]","",regex=True)
freeAll[1].columns=newNames

Let's explore:

In [6]:
freeAll[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 197 non-null    object
 1   FreedomintheWorld       197 non-null    object
 2   IndexofEconomicFreedom  177 non-null    object
 3   PressFreedomIndex       184 non-null    object
 4   DemocracyIndex          167 non-null    object
dtypes: object(5)
memory usage: 7.8+ KB

We see every column is just of the object type. Let's explore more:

In [7]:
freeAll[1].describe().T

                       count unique                   top freq
Country                  197    197           Afghanistan    1
FreedomintheWorld        197      3                  free   83
IndexofEconomicFreedom   177      5         mostly unfree   57
PressFreedomIndex        184      5   noticeable problems   66
DemocracyIndex           167      4  authoritarian regime   59

We know that each column has few values (categories). But the amount of values varies among them. Let's see what these values are:

In [8]:
pd.unique(freeAll[1].FreedomintheWorld) #any wrongly typed?

array(['not free', 'partly free', 'free'], dtype=object)

In [9]:
pd.unique(freeAll[1].IndexofEconomicFreedom)

array([nan, 'moderately free', 'repressed', 'mostly unfree',
       'mostly free', 'free'], dtype=object)

In [10]:
pd.unique(freeAll[1].PressFreedomIndex)

array(['very serious situation', 'noticeable problems',
       'difficult situation', 'satisfactory situation', nan,
       'good situation'], dtype=object)

In [11]:
pd.unique(freeAll[1].DemocracyIndex)

array(['authoritarian regime', 'flawed democracy', nan, 'hybrid regime',
       'full democracy'], dtype=object)

In [12]:
# Guess what this will do before runing it:
#[list(pd.unique(freeAll[1][x])) for x in freeAll[1].iloc[:,1:].columns]

It is very important to verify that the strings that represent categories do not need _cleaning_ (i.e. 'free' instead of 'freee')

Let me assign the dataframe to a new object:

In [13]:
allFree=freeAll[1].copy()

Now, let's turn the values into **ordinal** categories. Remember that the worst, best and middle values should be comparable:

In [14]:
mapper1 = {'free':5 , 'partly free': 3, 'not free': 1}
allFree.FreedomintheWorld.replace(mapper1,inplace=True)

mapper2 = {'moderately free':3, 'repressed':1, 'mostly unfree':2,
       'mostly free':4, 'free':5}
allFree.IndexofEconomicFreedom.replace(mapper2,inplace=True)


mapper3 = {'very serious situation':1, 'noticeable problems':3,
       'difficult situation':2, 'satisfactory situation':4,
       'good situation':5}
allFree.PressFreedomIndex.replace(mapper3,inplace=True)

mapper4 = {'authoritarian regime':1, 'flawed democracy':3,'hybrid regime':2,
       'full democracy':5}
allFree.DemocracyIndex.replace(mapper4,inplace=True)

In [15]:
allFree

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Afghanistan,1,NaN,1.0,1.0
1,Albania,3,3.0,3.0,3.0
2,Algeria,1,1.0,2.0,1.0
3,Andorra,5,NaN,3.0,NaN
4,Angola,1,2.0,3.0,1.0
...,...,...,...,...,...
192,Venezuela,1,1.0,1.0,1.0
193,Vietnam,1,3.0,1.0,1.0
194,Yemen,1,NaN,1.0,1.0
195,Zambia,3,1.0,3.0,2.0
196,Zimbabwe,1,1.0,2.0,1.0

Let's explore:

In [16]:
#check types:
allFree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 197 non-null    object
 1   FreedomintheWorld       197 non-null    int64
 2   IndexofEconomicFreedom  177 non-null    float64
 3   PressFreedomIndex       184 non-null    float64
 4   DemocracyIndex          167 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 7.8+ KB

In [20]:
# what about

# finally

allFree.iloc[:,1:].apply(lambda x: x.astype('Int32')).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FreedomintheWorld       197 non-null    Int32
 1   IndexofEconomicFreedom  177 non-null    Int32
 2   PressFreedomIndex       184 non-null    Int32
 3   DemocracyIndex          167 non-null    Int32
dtypes: Int32(4)
memory usage: 4.0 KB

In [24]:
# this will fail:
#allFree.iloc[:,1:].apply(lambda x: x.astype('int32')).info()

In [31]:
for col in allFree.iloc[:,1:].columns:
    try:
        allFree[col].astype('int32')
    except:
        print(col)
        try: 
            for cell in allFree[col]:
                int(cell)
        except:
            print(cell)

In [32]:
allFree.head()

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Afghanistan,1,NaN,1.0,1.0
1,Albania,3,3.0,3.0,3.0
2,Algeria,1,1.0,2.0,1.0
3,Andorra,5,NaN,3.0,NaN
4,Angola,1,2.0,3.0,1.0

However, these are not yet ordinal. Let's do it:

In [33]:
from pandas.api.types import CategoricalDtype

order = CategoricalDtype(categories=[1,2,3,4,5], ordered=True)
allFree.iloc[:,1:].apply(lambda x:x.astype(order)).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FreedomintheWorld       197 non-null    category
 1   IndexofEconomicFreedom  177 non-null    category
 2   PressFreedomIndex       184 non-null    category
 3   DemocracyIndex          167 non-null    category
dtypes: category(4)
memory usage: 1.7 KB

In [34]:
allFree.columns[1:]+'_or'

Index(['FreedomintheWorld_or', 'IndexofEconomicFreedom_or',
       'PressFreedomIndex_or', 'DemocracyIndex_or'],
      dtype='object')

In [35]:
newNames=allFree.columns[1:]+'_or'
allFree[newNames]=allFree.iloc[:,1:].apply(lambda x:x.astype(order))

In [36]:
allFree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    197 non-null    object
 1   FreedomintheWorld          197 non-null    int64
 2   IndexofEconomicFreedom     177 non-null    float64
 3   PressFreedomIndex          184 non-null    float64
 4   DemocracyIndex             167 non-null    float64
 5   FreedomintheWorld_or       197 non-null    category
 6   IndexofEconomicFreedom_or  177 non-null    category
 7   PressFreedomIndex_or       184 non-null    category
 8   DemocracyIndex_or          167 non-null    category
dtypes: category(4), float64(3), int64(1), object(1)
memory usage: 9.4+ KB

In [38]:
allFree.IndexofEconomicFreedom_or

0      NaN
1        3
2        1
3      NaN
4        2
      ...
192      1
193      3
194    NaN
195      1
196      1
Name: IndexofEconomicFreedom_or, Length: 197, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

You may want to rename them:

In [39]:
ordCats={1:'veryLow',2:'low',3:'medium',4:'good',5:'veryGood'}

turnToOrdinal= lambda x:x.cat.rename_categories(ordCats)

allFree.iloc[:,5:].apply(turnToOrdinal)

,FreedomintheWorld_or,IndexofEconomicFreedom_or,PressFreedomIndex_or,DemocracyIndex_or
0,veryLow,NaN,veryLow,veryLow
1,medium,medium,medium,medium
2,veryLow,veryLow,low,veryLow
3,veryGood,NaN,medium,NaN
4,veryLow,low,medium,veryLow
...,...,...,...,...
192,veryLow,veryLow,veryLow,veryLow
193,veryLow,medium,veryLow,veryLow
194,veryLow,NaN,veryLow,veryLow
195,medium,veryLow,medium,low
196,veryLow,veryLow,low,veryLow

In [40]:
allFree.iloc[:,5:]=allFree.iloc[:,5:].apply(turnToOrdinal)

Let's keep this last result, but this let me show you the use of **pickle** format:

In [ ]:
#saving

import os 

allFree.to_csv(os.path.join("DataFiles","allFree.csv"),index=False )
allFree.to_pickle(os.path.join("DataFiles","allFree.pkl") )

In [ ]:
#reading

dfPickle=pd.read_pickle(os.path.join("DataFiles","allFree.pkl") )  
dfCSV=pd.read_csv(os.path.join("DataFiles","allFree.csv") )

Now, notice the difference when you have categorical data:

In [ ]:
dfPickle.info()

In [ ]:
dfCSV.info()

In [ ]:
# the file kept the data type
dfPickle.DemocracyIndex_or

In [ ]:
# the file did not keep the data type
dfCSV.DemocracyIndex_or